.content-container {
  line-height: 28px;
  margin-top: 82px;
  max-height: 480px !important;
  overflow-y: scroll;

  /* Скрываем скролл для Firefox */
  scrollbar-width: none;
  /* Скрываем скролл для IE и Edge */
  -ms-overflow-style: none;

  @media (max-height: 720px) {
    max-height: 70vh !important;
    margin-top: 74px;

  }
  .contact {
    color: white;
  }

  .policy {
    margin: 0 24px;
    text-align: left;
  }

  h1 {
    line-height: 42px;
  }

  h2 {
    line-height: 36px;
  }
}
.content-container ::-webkit-scrollbar {
  display: none;
}
