<div class="content-container">
  <div class="policy">
    <h1 class="ion-margin-vertical">
      Политика обработки персональных данных
    </h1>
    <h5>
      br-parsing.ru Политика обработки персональных данных
    </h5>
    <div>
      Данная политика обработки персональных данных и их конфиденциальности относится к
      сайту под доменным именем <b>br-parsing.ru</b>. Эта страница содержит сведения о том, какую
      информацию мы (администрация сайта) или третьи лица могут получать, когда вы
      пользуетесь нашим сайтом.
    </div>
    <h2>
      Данные, собираемые при посещении сайта
    </h2>
    <div >
      Персональные данные
    </div>
    <div>
      Персональные данные при посещении сайта передаются пользователем добровольно, к
      ним могут относиться:
    </div>
    <div>
      <ul>
        <li>имя, фамилия, отчество,</li>
        <li>номера телефонов,</li>
        <li>адреса электронной почты,</li>
        <li>адреса для доставки товаров или оказания услуг,</li>
        <li>реквизиты компании, которую представляет пользователь,</li>
        <li>должность в компании, которую представляет пользователь,</li>
        <li>аккаунты в социальных сетях;</li>
        <li>и иные данные.</li>
      </ul>
    </div>
    <div>
      Эти данные собираются в целях оказания услуг или продажи товаров, связи с
      пользователем или иной активности пользователя на сайте, а также, чтобы отправлять
      пользователям информацию, которую они согласились получать.
    </div>
    <div>
      Данные собираются имеющимися на сайте формами для заполнения (например,
      оформления заказа, оставления отзыва, обратной связи и иными).
    </div>
    <div>
      Также данные могут собираться через технологию cookies (куки) как непосредственно
      сайтом, так и скриптами (программами) сервисов сторонних организаций. Эти данные
      собираются автоматически, отправку этих данных можно запретить, отключив cookies
      (куки) в браузере, в котором открывается сайт.
    </div>

    <div >
      Неперсональные данные
    </div>
    <div>
      Кроме персональных данных при посещении сайта собираются не персональные данные,
      их сбор происходит автоматически веб-сервером, на котором расположен сайт,
      средствами CMS (системы управления сайтом), скриптами сторонних организаций,
      установленными на сайте. К данным, собираемым автоматически, относятся:
    </div>
    <div>
      <ul>
        <li>IP адрес и страна его регистрации,</li>
        <li>имя домена, с которого вы к нам пришли,</li>
        <li>переходы посетителей с одной страницы сайта на другую,</li>
        <li>информация, которую ваш браузер предоставляет добровольно при посещении сайта,</li>
        <li>cookies (куки), фиксируются посещения и информацию, необходимую для работы сайта,</li>
        <li>иные данные, собираемые счетчиками аналитики сторонних организаций,
          установленными на сайте.</li>
      </ul>
    </div>
    <div>
      Эти данные носят неперсонифицированный характер и направлены на улучшение
      обслуживания клиентов, улучшения удобства использования сайта, анализа
      посещаемости.
    </div>

    <div >
      Предоставление данных третьим лицам
    </div>
    <div>
      <b>Мы не раскрываем личную информацию пользователей компаниям, организациям и
        частным лицам, не связанным с нами.</b> Исключение составляют случаи, перечисленные
      ниже:
    </div>
    <div >
      По требованию закона
    </div>
    <div>
      Информация может быть раскрыта в целях воспрепятствования мошенничеству или иным
      противоправным действиям; по требованию законодательства и в иных случаях,
      предусмотренных законом.
    </div>
    <div >
      Сервисам сторонних организаций, установленным на сайте
    </div>
    <div>
      На сайте могут быть установлены формы, собирающие персональную информацию
      других организаций, в этом случае сбор, хранение и защита персональной информации
      пользователя осуществляется сторонними организациями в соответствии с их политикой
      конфиденциальности.
    </div>
    <div>
      Сбор, хранение и защита полученной от сторонней организации информации
      осуществляется в соответствии с настоящей политикой конфиденциальности.
    </div>
    <h4>
      Как мы защищаем вашу информацию
    </h4>
    <div>
      Мы принимаем соответствующие меры безопасности по сбору, хранению и обработке
      собранных данных для защиты их от несанкционированного доступа, изменения,
      раскрытия или уничтожения, ограничиваем нашим сотрудникам, подрядчикам и агентам
      доступ к персональным данным, постоянно совершенствуем способы сбора, хранения и
      обработки данных, включая физические меры безопасности, для противодействия
      несанкционированному доступу к нашим системам.
    </div>
    <h4>
      Ваше согласие с этими условиями
    </h4>
    <div>
      Используя этот сайт, вы выражаете свое согласие с этой политикой конфиденциальности.
      Если вы не согласны с этой политикой, пожалуйста, не используйте наш сайт. Ваше
      дальнейшее использование сайта после внесения изменений в настоящую политику будет
      рассматриваться как ваше согласие с этими изменениями.
    </div>
    <h4>
      Отказ от ответственности
    </h4>
    <div>
      Политика конфиденциальности не распространяется ни на какие другие сайты и не
      применима к веб-сайтам третьих лиц, которые могут содержать упоминание о нашем
      сайте и с которых могут делаться ссылки на сайт, а также ссылки с этого сайта на другие
      сайты сети Интернет. Мы не несем ответственности за действия других веб-сайтов.
    </div>
    <h4>
      Изменения в политике конфиденциальности
    </h4>
    <div>
      Мы имеем право по своему усмотрению обновлять данную политику
      конфиденциальности в любое время. В этом случае мы опубликуем уведомление на
      страницах нашего сайта. Используя сайт, вы соглашаетесь с принятием на себя
      ответственности за периодическое ознакомление с политикой конфиденциальности и
      изменениями в ней.
    </div>
  </div>
</div>
